# Qualitative Value Analysis

In [5]:
import pandas as pd
import numpy as np
import ast
import json
import os
from df_utils import *
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.lines import Line2D

# Load Dataframes for values of interest:
from df_utils

* df: whole raw dataframe
* df_model: solution values and items of the optimal solution
* df_vp_sol: solution of players, column names correspond to sosci survey columns
* df_actions: LG column of sosci survey data transformed. Shows action and action_type for each timepoint
* df_built: shows all building actions, with timepoint, which item was built[furniture_parts] and if the building item is the final item needed for a full furniture item [full_furniture] and if it was used in a full furniture item [useful]
* df_resources: shows leftover resources after each step.The rows where timepoint is NaN are the initial resources in each month before any action was taken

Month 0 corresponds to the tutorial

In [7]:
# get data csv
cur_dir =  os.getcwd() 
parent_dir = os.path.dirname(os.path.dirname(cur_dir))
data_file = 'data/online/full_experiment/data_furnituremanufacturing_2021-08-11_09-15.csv'
data_path = os.path.join(parent_dir, data_file)

# transform to dataframe
df, df_model, _, df_vp_sol, _, df_actions, df_built, df_resources, df_play_times = decompose_csv(data_path)

read cache

## More comprehensive solution overview
df_furn shows a more comprehensive overview of the solution items for each vp in each month. The order corresponds to (beds, bookcases, tables, chairs)

In [8]:
vp = 132
month = 1
df_built[(df_built.vp == vp) & (df_built.month == month)]

,index,action,timepoint,month,vp,action_type,minutes,furniture_parts,counts,useful,full_furniture
47,121,RF,434.6,1,132,successful built,7.243333,shelf frame,1,used,nothing
48,124,RP,437.3,1,132,successful built,7.288333,shelf,1,used,nothing
49,125,RP,437.6,1,132,successful built,7.293333,shelf,2,used,nothing
50,126,RP,438.1,1,132,successful built,7.301667,shelf,3,used,Bookcase
51,129,RP,443.8,1,132,successful built,7.396667,shelf,4,used,nothing
52,130,RP,444.2,1,132,successful built,7.403333,shelf,5,used,nothing
53,131,RP,444.7,1,132,successful built,7.411667,shelf,6,used,nothing
54,134,RF,448.0,1,132,successful built,7.466667,shelf frame,2,used,Bookcase
55,137,BE,453.8,1,132,successful built,7.563333,bed top,1,used,nothing
56,140,BB,456.6,1,132,successful built,7.610000,bed frame,1,used,nothing
57,141,BB,457.1,1,132,successful built,7.618333,bed frame,2,used,Bed
58,146,CB,467.3,1,132,successful built,7.788333,chair leg,1,used,nothing
59,147,CB,467.8,1,132,successful built,7.796667,chair leg,2,used,nothing
60,148,CB,468.3,1,132,successful built,7.805000,chair leg,3,used,nothing
61,149,CB,468.8,1,132,successful built,7.813333,chair leg,4,used,nothing
62,150,CB,473.7,1,132,successful built,7.895000,chair leg,5,used,nothing
63,151,CB,474.2,1,132,successful built,7.903333,chair leg,6,used,nothing
64,152,CB,474.8,1,132,successful built,7.913333,chair leg,7,used,nothing
65,153,CB,475.3,1,132,successful built,7.921667,chair leg,8,used,nothing
66,156,CK,478.5,1,132,successful built,7.975000,chair back,1,used,Chair
67,157,CK,478.8,1,132,successful built,7.980000,chair back,2,used,Chair
68,160,CB,483.9,1,132,successful built,8.065000,chair leg,9,used,nothing
69,161,CB,484.4,1,132,successful built,8.073333,chair leg,10,used,nothing
70,162,CB,484.9,1,132,successful built,8.081667,chair leg,11,used,nothing
71,163,CB,485.4,1,132,successful built,8.090000,chair leg,12,used,nothing
72,166,CK,487.8,1,132,successful built,8.130000,chair back,3,used,Chair
73,169,RP,492.1,1,132,successful built,8.201667,shelf,7,used,nothing
74,170,RP,492.6,1,132,successful built,8.210000,shelf,8,used,nothing
75,171,RP,493.2,1,132,successful built,8.220000,shelf,9,used,nothing
76,174,RF,496.0,1,132,successful built,8.266667,shelf frame,3,used,Bookcase
77,175,BE,498.1,1,132,successful built,8.301667,bed top,2,used,nothing
78,178,BB,500.9,1,132,successful built,8.348333,bed frame,3,used,nothing
79,179,BB,501.6,1,132,successful built,8.360000,bed frame,4,used,Bed
80,182,CB,508.5,1,132,successful built,8.475000,chair leg,13,used,nothing
81,183,CB,508.9,1,132,successful built,8.481667,chair leg,14,used,nothing
82,184,CB,509.5,1,132,successful built,8.491667,chair leg,15,used,nothing
83,185,CB,510.0,1,132,successful built,8.500000,chair leg,16,used,nothing
84,188,CK,518.5,1,132,successful built,8.641667,chair back,4,used,Chair
85,193,TP,525.9,1,132,successful built,8.765000,table top,1,used,nothing
86,196,TL,534.2,1,132,successful built,8.903333,table leg,1,used,nothing
87,197,TL,534.8,1,132,successful built,8.913333,table leg,2,used,nothing
88,198,TL,535.5,1,132,successful built,8.925000,table leg,3,used,nothing
89,199,TL,536.1,1,132,successful built,8.935000,table leg,4,used,Table
90,200,TL,542.8,1,132,successful built,9.046667,table leg,5,used,nothing
91,201,TL,543.3,1,132,successful built,9.055000,table leg,6,used,nothing
92,202,TL,543.7,1,132,successful built,9.061667,table leg,7,used,nothing
93,203,TL,544.2,1,132,successful built,9.070000,table leg,8,used,nothing
94,206,TP,547.1,1,132,successful built,9.118333,table top,2,used,Table

In [9]:
furn_col = [ 'PL02_', 'PL03_','PL04_', 'PL05_']
df_sol= df_vp_sol.astype(int)
df_furn =pd. DataFrame(columns = range(1,13))
df_furn.columns.name = 'month'
for m in range(1,13):
        if m< 10:
            month_cols = [item+'0' +str(m) for item in furn_col]
        else:
            month_cols = [item +str(m) for item in furn_col]
            
        
        df_furn[m] = df_sol[month_cols].apply(tuple, axis=1)
df_furn

month,1,2,3,4,5,6,7,8,9,10,11,12
CASE,,,,,,,,,,,,
132,"(2, 3, 2, 4)","(1, 2, 0, 4)","(1, 3, 0, 0)","(1, 4, 3, 2)","(1, 4, 4, 2)","(5, 1, 4, 1)","(3, 1, 4, 0)","(1, 4, 1, 5)","(1, 4, 2, 4)","(1, 4, 2, 3)","(1, 4, 3, 3)","(1, 4, 0, 5)"
134,"(1, 1, 1, 1)","(1, 1, 1, 1)","(0, 4, 2, 0)","(1, 4, 3, 2)","(1, 4, 5, 0)","(1, 4, 3, 0)","(2, 2, 0, 1)","(0, 3, 4, 1)","(1, 4, 2, 4)","(1, 4, 2, 2)","(1, 4, 4, 2)","(1, 4, 0, 5)"
141,"(3, 0, 3, 1)","(2, 0, 3, 0)","(6, 0, 4, 2)","(6, 0, 4, 2)","(1, 4, 3, 3)","(2, 3, 3, 3)","(0, 3, 5, 0)","(1, 4, 1, 5)","(1, 4, 2, 4)","(0, 4, 2, 4)","(1, 4, 4, 2)","(2, 3, 1, 5)"
142,"(3, 2, 2, 3)","(2, 2, 0, 1)","(0, 4, 1, 3)","(1, 4, 2, 3)","(1, 4, 3, 3)","(4, 2, 3, 3)","(2, 2, 3, 0)","(1, 3, 3, 3)","(1, 4, 2, 4)","(1, 4, 2, 1)","(1, 4, 4, 2)","(2, 3, 0, 5)"
146,"(2, 1, 3, 3)","(0, 0, 2, 4)","(2, 3, 2, 2)","(2, 3, 3, 3)","(2, 3, 3, 3)","(2, 3, 3, 3)","(0, 4, 2, 0)","(2, 2, 3, 3)","(2, 3, 2, 3)","(2, 3, 2, 3)","(2, 3, 3, 3)","(2, 2, 2, 3)"
152,"(1, 3, 4, 2)","(2, 1, 1, 3)","(1, 4, 2, 3)","(1, 4, 3, 2)","(1, 4, 4, 2)","(1, 4, 3, 3)","(0, 3, 5, 0)","(1, 4, 2, 3)","(1, 4, 1, 4)","(1, 4, 2, 3)","(1, 4, 4, 2)","(2, 3, 1, 5)"
154,"(1, 4, 2, 2)","(1, 2, 0, 0)","(1, 4, 2, 3)","(2, 3, 2, 4)","(4, 2, 4, 2)","(5, 1, 4, 2)","(1, 2, 1, 1)","(1, 4, 2, 3)","(4, 2, 3, 3)","(1, 4, 1, 5)","(1, 4, 4, 2)","(4, 2, 2, 1)"
161,"(2, 0, 4, 2)","(0, 0, 3, 2)","(3, 0, 3, 3)","(3, 1, 0, 0)","(1, 1, 3, 2)","(1, 1, 4, 1)","(2, 1, 2, 0)","(2, 1, 3, 3)","(1, 2, 4, 2)","(2, 1, 4, 2)","(2, 2, 3, 3)","(1, 4, 1, 1)"
163,"(2, 3, 2, 2)","(2, 1, 1, 3)","(4, 2, 3, 2)","(1, 4, 2, 4)","(1, 4, 3, 3)","(5, 1, 3, 3)","(2, 1, 4, 1)","(4, 2, 3, 3)","(1, 4, 2, 4)","(5, 1, 2, 4)","(2, 3, 4, 2)","(2, 3, 1, 5)"
164,"(0, 1, 2, 1)","(2, 1, 1, 2)","(1, 3, 1, 1)","(1, 3, 3, 3)","(1, 4, 4, 1)","(1, 4, 2, 4)","(3, 0, 5, 0)","(2, 3, 1, 5)","(1, 4, 3, 0)","(1, 4, 1, 5)","(1, 4, 3, 3)","(1, 3, 0, 6)"
166,"(6, 0, 5, 0)","(4, 0, 1, 4)","(4, 2, 3, 2)","(6, 0, 4, 2)","(1, 3, 2, 4)","(6, 0, 5, 0)","(0, 3, 5, 0)","(4, 2, 3, 3)","(1, 4, 3, 0)","(1, 4, 0, 6)","(1, 4, 2, 4)","(6, 0, 1, 5)"
167,"(1, 4, 0, 3)","(6, 0, 0, 3)","(1, 2, 5, 0)","(1, 4, 2, 4)","(1, 4, 3, 3)","(6, 0, 4, 2)","(6, 0, 0, 0)","(1, 4, 1, 5)","(1, 4, 2, 3)","(1, 4, 2, 3)","(1, 3, 5, 0)","(1, 4, 0, 5)"
169,"(5, 1, 4, 1)","(6, 0, 0, 3)","(2, 2, 4, 2)","(2, 3, 3, 0)","(1, 4, 4, 1)","(1, 4, 2, 4)","(0, 3, 5, 0)","(1, 4, 1, 5)","(4, 2, 3, 3)","(1, 4, 1, 5)","(1, 4, 4, 2)","(2, 3, 1, 5)"
170,"(4, 2, 2, 0)","(4, 0, 1, 3)","(1, 4, 2, 3)","(6, 0, 5, 0)","(1, 4, 5, 0)","(6, 0, 5, 0)","(0, 4, 2, 0)","(1, 4, 1, 5)","(1, 4, 2, 4)","(1, 4, 2, 3)","(1, 4, 5, 0)","(1, 4, 0, 5)"
171,"(1, 4, 1, 2)","(0, 1, 0, 6)","(6, 0, 5, 0)","(4, 2, 4, 2)","(2, 3, 4, 2)","(5, 1, 3, 3)","(0, 3, 5, 0)","(2, 3, 2, 4)","(2, 3, 3, 3)","(4, 2, 3, 3)","(1, 4, 4, 2)","(3, 2, 2, 4)"
172,"(1, 3, 4, 1)","(0, 2, 0, 4)","(2, 2, 3, 3)","(2, 3, 2, 4)","(0, 4, 2, 4)","(3, 1, 3, 3)","(0, 1, 4, 2)","(0, 3, 3, 3)","(0, 4, 2, 4)","(1, 3, 2, 4)","(0, 4, 3, 3)","(0, 4, 0, 6)"
175,"(1, 4, 2, 4)","(3, 1, 0, 5)","(6, 0, 5, 0)","(1, 4, 3, 2)","(1, 4, 5, 0)","(5, 1, 4, 2)","(3, 0, 5, 0)","(6, 0, 4, 2)","(1, 4, 2, 4)","(4, 2, 3, 3)","(1, 4, 4, 2)","(5, 1, 2, 4)"
177,"(2, 2, 2, 2)","(2, 1, 1, 3)","(4, 2, 2, 1)","(1, 4, 2, 4)","(1, 4, 5, 0)","(6, 0, 3, 3)","(0, 3, 2, 0)","(5, 1, 2, 3)","(4, 2, 3, 3)","(4, 2, 2, 4)","(1, 4, 3, 3)","(5, 1, 2, 4)"
182,"(3, 2, 2, 3)","(1, 1, 1, 5)","(2, 3, 3, 2)","(4, 2, 3, 3)","(1, 4, 4, 1)","(4, 2, 4, 2)","(1, 3, 1, 1)","(4, 2, 2, 4)","(2, 3, 3, 3)","(4, 2, 2, 4)","(4, 2, 4, 2)","(2, 3, 1, 5)"
188,"(1, 0, 1, 4)","(1, 0, 1, 2)","(4, 2, 3, 2)","(4, 2, 4, 0)","(1, 4, 1, 4)","(1, 4, 3, 2)","(1, 2, 3, 1)","(2, 3, 1, 5)","(2, 3, 2, 4)","(2, 3, 2, 4)","(2, 3, 3, 3)","(2, 3, 1, 3)"
198,"(4, 2, 3, 3)","(5, 0, 0, 4)","(1, 4, 2, 3)","(1, 4, 2, 4)","(1, 4, 4, 2)","(4, 2, 2, 4)","(0, 3, 5, 0)","(4, 2, 2, 4)","(2, 3, 2, 4)","(4, 2, 3, 3)","(1, 4, 4, 2)","(5, 1, 2, 3)"
202,"(2, 2, 4, 2)","(3, 0, 1, 1)","(2, 3, 2, 3)","(2, 3, 2, 4)","(1, 4, 3, 3)","(4, 2, 3, 2)","(3, 1, 0, 2)","(2, 3, 2, 4)","(2, 3, 3, 3)","(2, 3, 2, 4)","(4, 2, 4, 2)","(2, 3, 1, 3)"
203,"(6, 0, 4, 2)","(6, 0, 0, 3)","(2, 2, 4, 2)","(4, 2, 4, 2)","(2, 3, 4, 2)","(5, 1, 5, 0)","(4, 0, 4, 0)","(5, 1, 3, 3)","(0, 4, 3, 3)","(4, 2, 3, 3)","(0, 4, 4, 2)","(5, 1, 2, 4)"
206,"(1, 4, 1, 5)","(2, 2, 0, 1)","(3, 2, 3, 3)","(1, 4, 2, 4)","(1, 4, 4, 1)","(2, 3, 4, 2)","(2, 3, 1, 0)","(5, 1, 4, 2)","(1, 4, 2, 4)","(1, 4, 2, 3)","(1, 4, 5, 0)","(1, 4, 0, 5)"
211,"(2, 2, 2, 3)","(5, 0, 0, 3)","(6, 0, 4, 0)","(2, 3, 2, 3)","(6, 0, 5, 0)","(2, 3, 1, 5)","(0, 3, 5, 0)","(5, 1, 3, 3)","(4, 2, 3, 3)","(4, 2, 2, 4)","(4, 2, 4, 2)","(4, 2, 1, 4)"
217,"(2, 2, 2, 3)","(3, 1, 0, 4)","(1, 4, 2, 3)","(4, 2, 4, 2)","(1, 4, 5, 0)","(5, 1, 2, 2)","(1, 2, 5, 0)","(1, 4, 1, 4)","(1, 4, 2, 4)","(1, 4, 1, 4)","(1, 4, 3, 3)","(4, 2, 1, 4)"
219,"(6, 0, 3, 3)","(1, 1, 1, 5)","(1, 4, 1, 2)","(5, 1, 4, 2)","(1, 4, 2, 4)","(5, 1, 5, 0)","(3, 0, 5, 0)","(4, 2, 1, 5)","(1, 4, 2, 4)","(1, 4, 1, 5)","(4, 2, 5, 0)","(5, 1, 1, 4)"
222,"(0, 1, 1, 1)","(1, 1, 1, 1)","(2, 3, 2, 3)","(4, 2, 3, 3)","(1, 4, 5, 0)","(4, 2, 4, 2)","(0, 3, 5, 0)","(5, 1, 3, 3)","(2, 3, 2, 4)","(4, 2, 2, 4)","(1, 4, 4, 2)","(5, 1, 2, 4)"
226,"(2, 3, 2, 0)","(1, 2, 0, 0)","(3, 2, 1, 1)","(1, 3, 3, 1)","(0, 4, 2, 1)","(1, 4, 1, 1)","(1, 3, 1, 0)","(1, 4, 2, 1)","(1, 4, 2, 2)","(1, 4, 2, 2)","(1, 4, 4, 0)","(1, 4, 1, 0)"
230,"(2, 3, 1, 4)","(1, 1, 1, 5)","(1, 4, 2, 3)","(1, 4, 2, 4)","(1, 4, 5, 0)","(1, 4, 2, 4)","(0, 3, 5, 0)","(3, 2, 2, 4)","(1, 4, 2, 4)","(1, 4, 1, 5)","(2, 3, 4, 2)","(3, 2, 2, 4)"
235,"(2, 3, 3, 1)","(3, 0, 1, 5)","(5, 1, 2, 1)","(5, 1, 4, 2)","(1, 4, 3, 2)","(4, 2, 3, 3)","(0, 2, 4, 1)","(3, 2, 3, 3)","(5, 1, 4, 2)","(4, 2, 3, 1)","(2, 3, 5, 0)","(4, 2, 1, 4)"

# VP solution value for each month (cumulative profit in that month)

In [10]:
df_sol = pd.DataFrame(df_vp_sol.filter(regex='PL01').values, columns = list(range(1,13)))
df_sol['vp'] = df_vp_sol.index
df_sol = df_sol.set_index('vp')
df_sol.columns.name = 'month'
df_sol

month     1     2     3     4     5     6     7     8     9    10    11    12
vp
132    45.0  35.0  21.0  56.0  67.0  45.0  44.0  46.0  61.0  54.0  60.0  56.0
134    17.0  22.0  32.0  56.0  65.0  42.0  30.0  35.0  61.0  52.0  62.0  56.0
141    26.0  26.0  38.0  54.0  66.0  43.0  41.0  46.0  61.0  52.0  62.0  55.0
142    40.0  33.0  34.0  53.0  66.0  46.0  40.0  41.0  61.0  50.0  62.0  52.0
146    33.0  20.0  36.0  55.0  61.0  43.0  36.0  39.0  54.0  49.0  56.0  44.0
152    45.0  35.0  41.0  56.0  67.0  45.0  41.0  45.0  57.0  54.0  62.0  55.0
154    44.0  23.0  41.0  52.0  62.0  46.0  27.0  45.0  58.0  54.0  62.0  52.0
161    28.0  18.0  27.0  23.0  33.0  25.0  29.0  32.0  45.0  37.0  48.0  51.0
163    41.0  35.0  40.0  55.0  66.0  44.0  39.0  49.0  61.0  45.0  58.0  55.0
164    17.0  32.0  27.0  50.0  64.0  43.0  41.0  44.0  57.0  54.0  60.0  48.0
166    44.0  44.0  40.0  54.0  55.0  45.0  41.0  49.0  57.0  52.0  58.0  49.0
167    38.0  51.0  35.0  55.0  66.0  44.0  42.0  46.0  59.0  54.0  53.0  56.0
169    45.0  51.0  38.0  49.0  64.0  43.0  41.0  46.0  58.0  54.0  62.0  55.0
170    38.0  41.0  41.0  55.0  65.0  45.0  36.0  46.0  61.0  54.0  61.0  56.0
171    40.0  26.0  38.0  60.0  62.0  44.0  41.0  45.0  58.0  52.0  62.0  52.0
172    43.0  28.0  36.0  52.0  60.0  34.0  27.0  36.0  56.0  47.0  56.0  52.0
175    48.0  44.0  38.0  56.0  65.0  46.0  41.0  46.0  61.0  52.0  62.0  54.0
177    34.0  35.0  34.0  55.0  65.0  42.0  29.0  44.0  58.0  50.0  60.0  54.0
182    40.0  34.0  40.0  57.0  64.0  48.0  34.0  48.0  58.0  50.0  58.0  55.0
188    16.0  17.0  40.0  56.0  61.0  44.0  35.0  44.0  56.0  51.0  56.0  51.0
198    48.0  47.0  41.0  55.0  67.0  44.0  41.0  48.0  56.0  52.0  62.0  52.0
202    42.0  28.0  38.0  52.0  66.0  45.0  32.0  45.0  58.0  51.0  58.0  51.0
203    44.0  51.0  38.0  60.0  62.0  47.0  44.0  47.0  58.0  52.0  58.0  54.0
206    46.0  33.0  39.0  55.0  64.0  45.0  39.0  48.0  61.0  54.0  61.0  56.0
211    36.0  44.0  34.0  50.0  50.0  39.0  41.0  47.0  58.0  50.0  58.0  55.0
217    36.0  41.0  41.0  60.0  65.0  40.0  41.0  44.0  61.0  52.0  60.0  55.0
219    42.0  34.0  35.0  57.0  65.0  47.0  41.0  47.0  61.0  54.0  57.0  51.0
222    13.0  22.0  38.0  57.0  65.0  48.0  41.0  47.0  56.0  50.0  62.0  54.0
226    37.0  23.0  27.0  46.0  51.0  37.0  32.0  41.0  57.0  52.0  56.0  49.0
230    41.0  34.0  41.0  55.0  65.0  43.0  41.0  43.0  61.0  54.0  58.0  52.0
235    43.0  40.0  31.0  57.0  63.0  46.0  32.0  44.0  55.0  48.0  57.0  55.0

# Model leftover resources

In [11]:
leftover_res_model(df_model)

    month  wood  metal   wsA   wsB   wsC   wsD
0       1  10.0    1.0   2.0   4.0   1.0   4.0
1       2   2.0    0.0  14.0  27.0   5.0   2.0
2       3   0.0    0.0   6.0  15.0   0.0  10.0
3       4   4.0    0.0   2.0   4.0   1.0   4.0
4       5  17.0   44.0   2.0   4.0   0.0  10.0
5       6  12.0    1.0   2.0   4.0   1.0   4.0
6       7   1.0   26.0  10.0   6.0  11.0  10.0
7       8   5.0    0.0   2.0   9.0   1.0   4.0
8       9   3.0    1.0   2.0  14.0   0.0  10.0
9      10   6.0    3.0   2.0  19.0   0.0  10.0
10     11  11.0    6.0   2.0   4.0   0.0  10.0
11     12   2.0    1.0   6.0  25.0   0.0  10.0